/* .form-group label {
  color: #928f8a;
}

.form-group input {
  font-weight: 500;
}

.form-group input::placeholder {
  color: #918b84;
  font-weight: 300;
}

.form-control {
    border-radius: 5px;
    background-color: #F5F5F4;
    border-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-top-color: #D9D9D7;
    color: #53504d;
}

.form-control:focus {
    border-color: #A2B86B;
    box-shadow: inset 0 1px 1px rgba(45, 129, 121, 0.1), 0 0 5px rgba(45, 129, 121, 1);
}

.form-control label {
    color: #7D7B78;
} */

#trr:hover{ background-color: #e0e0e0a4;
  cursor: pointer;}
#trrr,#trrr:hover,#trrr:active{ color: #880a0a;
  font-weight: 400;
  background-color:#ada79f ;
}


/*for invalid form controls*/
input.invalid {
  border-color: #BC323E;
  border-width: 1px;
}

/* .btn { 
  color: #ffffff; 
  background-color: #1a312f; 
  border-color: #088b03; 
}  */
 .card{
  background-color: #ada79f;
}
 /* 
.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  color: #ffffff; 
  background-color: #000000; 
  border-color: #a2b3b1; 
} 
 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  background-image: none; 
} 
 
.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn, 
.btn.disabled:hover, 
.btn[disabled]:hover, 
fieldset[disabled] .btn:hover, 
.btn.disabled:focus, 
.btn[disabled]:focus, 
fieldset[disabled] .btn:focus, 
.btn.disabled:active, 
.btn[disabled]:active, 
fieldset[disabled] .btn:active, 
.btn.disabled.active, 
.btn[disabled].active, 
fieldset[disabled] .btn.active { 
  background-color: #000000; 
  border-color: #f11515; 
}  */
 
/* .btn .badge { 
  color: #a2b3b1; 
  background-color: #ffffff; 
} */