

<div class="col-12  " style="margin-top: 20px;">
    <div class="row" >
    <div class="col-md-12 col-lg-8 col-xl-8" style="margin-bottom:10px" >
        <div class="form-control">
        <div class="jubotron py-4  "style="padding-left: 10px;" >  
            <h4 style="color: #880a0a"><i class="fas fa-user-graduate"></i><b> Students</b> App</h4>
        </div>
        <form style="padding-left: 10px;" novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)"  >
        <input type="hidden" name="studentId"
             [value]="service.formData.studentId" />
        <div class="row ">
    

        <div class="col form-group"><input class="form-control form-control-sm " placeholder="Imię"
            name="studentName" required minlength="2" #studentName="ngModel"[(ngModel)]="service.formData.studentName"
            [class.invalid] = "studentName.invalid && studentName.touched"></div>
        <div class="col form-group"><input class="form-control form-control-sm " placeholder="Nazwisko"
            name="studentLastName" required minlength="2" #clientLastName="ngModel"[(ngModel)]="service.formData.studentLastName"
            [class.invalid] = "clientLastName.invalid && clientLastName.touched"></div>
        <div class="col form-group"><input class="form-control form-control-sm " placeholder="Nazwa uczelni"
            name="studentCollege" required minlength="2" #studentCollege="ngModel"[(ngModel)]="service.formData.studentCollege"
            [class.invalid] = "studentCollege.invalid && studentCollege.touched"></div>
        <div class="col form-group"><input  class="form-control form-control-sm " placeholder="Kierunek"
            name="studentCourse" required minlength="2" #studentCourse="ngModel"[(ngModel)]="service.formData.studentCourse" 
            [class.invalid] = "studentCourse.invalid && studentCourse.touched"></div>
        <div class="col form-group"> <button class="btn btn-sm btn-success" type="submit" [disabled]="form.invalid">DODAJ / ZAPISZ</button></div>
        
     </div>         
   
     </form>
     </div>
     <div class="form-control table-responsive" style="margin-top:10px;width:auto">
        <table  style="width: 100%;" class="table-hover table-curved table "> 
            <thead >
                                        <tr  > 
                <th >
                    Imię      
                </th>
                <th >
                    Nazwisko  
                </th>
                <th >
                    Uczelnia
                </th>
                <th >
                    Kierunek
                </th>
              <th></th>
            </tr>  
            </thead>
            <tbody>
                <tr *ngFor="let cl of service.list" >

               
                   
                    <td   (click)="populateForm(cl)"> {{cl.studentName}}</td>
                    <td   (click)="populateForm(cl)">{{cl.studentLastName}}</td>
                    <td   (click)="populateForm(cl)"> {{cl.studentCollege}}</td>
                    <td   (click)="populateForm(cl)">{{cl.studentCourse}}</td>
                    <td style="text-align: right;padding-right: 40px;"  >
                    <i class="far fa-trash-alt fa-lg text-danger "  (click)="onDelete(cl.studentId)"></i>
                    
              
                       
                    </td>
                </tr>
              
         
            </tbody>
        </table></div>
    </div>
   <div class="col-lg-4 col-md-12">
    <app-student-indexes-form> </app-student-indexes-form>
   <div class="form-control" style="margin-top:10px ;">    
    <div class="jubotron py-4" >  
        <h4 style="color: #880a0a;margin-left: 20px;" ><i class="fas fa-clipboard"></i><b> Index</b> </h4>
    </div>
    <b>   Student: </b> 
    <select  class="form-select" style="margin-top: 5px;margin-bottom: 5px;"  [(ngModel)]="idhelpme">
        <option selected [ngValue]=0> Wybierz studenta, aby wyświetlić jego indeks</option>
      <option *ngFor="let xxx of service.list" [ngValue]= "xxx.studentId" > {{ xxx.studentName}} {{xxx.studentLastName}} </option>
    </select>  
    <div class="row">
      
        <div class="table-responsive">
            <table  style="width: 100%;" class="table-hover table table-curved">
                <thead class="thead-light">
                    <tr>
                        <th>Przedmiot</th>
                        <th>Ocena</th>
                        <th >
                            Data
                        </th>
                       <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container  *ngFor="let pd of services.list">
                    <tr *ngIf="idhelpme==pd.studentId">
                       
                            
                            <td  (click)="populateForms(pd)"> {{pd.studentSubject}}</td>
                            <td  (click)="populateForms(pd)"> {{pd.studentMark}}</td>
                            <td  (click)="populateForms(pd)">{{pd.studentDateMark}}</td>
                    
                            <td><i class="far fa-trash-alt fa-lg text-danger" (click)="onDelet(pd.indexId)">  </i></td> 
               
                    </tr></ng-container>
                </tbody>
            </table>
      
    </div>
</div>
        </div>
    </div>

